.about{
    padding: 3rem 0;
    .about_content{
        .about_left{
            padding: 4rem 0;

            h4{
                color: var(--primary);
            }

            h1{
                padding: 1rem 0;
            }

            p{
                line-height: 1.5rem;
                text-align: left;
            }

            a{
                display: inline-block;
                margin-top: 2rem;
            }
        }
        .about_right{
            padding: 0 3rem;
            background: var(--blk);
        }
    }
}