@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


:root{
  --primary:rgb(0, 155, 0);
  --ic-hover1:blue;
  --ic-hover2:rgb(187, 0, 0);
  --ic-hover3:rgb(83, 212, 255);
  --ic-hover4:red;
  --ic-hover5:darkred;
  --ic-hover6:rgb(253, 99, 176);
  --ic-hover7:orange;
  --blk:#000;
  --white:#fff;

  --transition:all 600ms ease;


  --container:80%;
  --container-lg:83%;
  --container-md:87%;
  --container-sm:91%;
  --container-xsm:95%;
}


*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: disc;
  font-family: 'Dancing Script', cursive;

}

img{
  width: 100%;
}

.container{
  width: var(--container);
  margin: 0 auto;
}
